* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../static/picture.jpg);
    background-size: cover;
    background-position: center;
}

.login {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 15px white;
}

.login h1 {
    color: white;
    padding: 20px;
}

.login input[type = "text"], .login input[type = "password"] {
    display: block;
    background: none;
    outline: none;
    color: white;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
}

.login input[type = "text"]::placeholder, .login input[type = "password"]::placeholder {
    color: #999999;
}

.login input[type = "submit"] {
    display: block;
    background: none;
    outline: none;
    color: white;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    transition: 0.3s ease;
}

.login input[type = "submit"]:active{
    transform: scale(0.9);
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}